.singlePost {
  &__wrapper {
    margin-top: 30px;
    background-color: white;
    border-radius: 10px;
    width: 900px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
  }
  &__image {
    img {
      max-width: 826px;
    }
    margin: 20px;
    text-align: center;
  }
  &__title {
    margin-left: 15px;
    font-size: 46px;
  }
  &__author {
    text-decoration: none;
    color: black;
  }
  &__text {
    font-size: 18px;
    list-style-position: inside;
    overflow-wrap: break-word;
  }
  &__info-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    img {
      vertical-align: middle;
      width: 26px;
      height: 26px;
      cursor: pointer;
    }
  }
}
