.singlePost {
  &__wrapper {
    margin-top: 30px;
    background-color: white;
    border-radius: 10px;
    width: 900px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
  }
  &__image {
    img {
      max-width: 826px;
    }
    margin: 20px;
    text-align: center;
  }
  &__title {
    margin-left: 15px;
    font-size: 46px;
  }
  &__author {
    text-decoration: none;
    color: black;
  }
  &__text {
    font-size: 18px;
    list-style-position: inside;
    overflow-wrap: break-word;
  }
  &__info-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    img {
      vertical-align: middle;
      width: 26px;
      height: 26px;
      cursor: pointer;
    }
  }
}

.commentSection {
  background-color: white;
  border-radius: 10px;
  margin-top: 30px;
  padding: 30px 20px;
  width: 900px;
  &__wrapper {
    &-input {
      border: 1px solid black;
      border-radius: 8px;
      margin-bottom: 20px;
      display: flex;
      flex-direction: column;
      padding: 5px 10px;
      align-items: center;
      textarea {
        width: 800px;
        min-height: 100px;
        border-radius: 10px;
        border: none;
        font-size: 16px;
        padding: 5px;
        resize: none;
        border: none;
        outline: none;
      }

      button {
        margin: 10px;
        width: 200px;
        font-size: 14px;
        padding: 6px;
        border-radius: 5px;
        outline: none;
        border: none;
        background-color: #4a42e788;
      }
    }
  }
  &__comment {
    margin-top: 40px;
    margin-bottom: 40px;
    &-wrapper {
      margin-bottom: 30px;
    }
    &-profile {
      display: flex;
      align-items: center;
      margin-bottom: 15px;
      &-avatar {
        width: 5%;
        border-radius: 50%;
      }
      &-nickname {
        margin-left: 10px;
      }
    }
  }
}
.navlink {
  text-decoration: none;
  color: black;
}
