.posts {
  margin-top: 50px;
  width: 860px;
  background-color: white;
  border-radius: 10px;
  &__navbar {
    display: flex;
    margin: 10px;
  }

  &__create {
    margin: 10px;
    width: 200px;
    font-size: 14px;
    padding: 6px;
    border-radius: 5px;
    outline: none;
    border: none;
    background-color: #4a42e788;
  }
}
