.posts {
  margin-top: 50px;
  width: 860px;
  background-color: white;
  border-radius: 10px;
  &__navbar {
    display: flex;
    margin: 10px;
  }

  &__create {
    margin: 10px;
    width: 200px;
    font-size: 14px;
    padding: 6px;
    border-radius: 5px;
    outline: none;
    border: none;
    background-color: #4a42e788;
  }
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 50px);
}

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #8f5bde;
  border-color: #4944deb3 transparent #4944deb3 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
