.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($color: #000000, $alpha: 0.75);
  overflow: hidden;
  overflow-y: auto;
  transition: opacity 0.3s;
  z-index: 100;
}

.popup {
  border-radius: 8px;
  width: 700px;
  height: 750px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  margin: auto;
  padding: 15px;
  background-color: #fff;
  &__close {
    font-weight: bold;
    background: none;
    border: none;
    font-size: 20px;
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
  }
  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  &__input {
    margin: 20px;
    border-radius: 5px;
  }
  &__file {
    margin-top: 50px;
    display: none;
  }
  &__title {
    width: 350px;
    height: 40px;
    font-size: 20px;
    text-align: center;
  }
  &__textarea {
    width: 500px;
    resize: none;
    height: 300px;
    font-size: 18px;
    padding: 5px;
  }
  &__text {
    width: 600px;
    div.CodeMirror-wrap {
      // overflow-y: scroll;
      height: 350px;
    }

    span {
      background-color: #fff;
      background: none;
    }
  }
  &__button {
    margin: 10px;
    width: 200px;
    font-size: 14px;
    padding: 6px;
    border-radius: 5px;
    outline: none;
    border: none;
    background-color: #4a42e788;
  }
}
.edit {
  margin: 20px;
}
