.post {
  margin: 10px;
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;

  &__title {
    font-weight: bold;
    font-size: 26px;
  }
  &__text {
    max-width: 820px;
    overflow-wrap: break-word;
  }
  &__author {
    text-align: right;
  }
}
