.post {
  margin: 10px;
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;
  list-style-position: inside;

  &__title {
    font-weight: bold;
    font-size: 26px;
    text-decoration: none;
    color: black;
    &:hover {
      color: blue;
    }
  }
  &__text {
    overflow-wrap: break-word;
  }
  &__author {
    text-align: right;
  }
  &__divider {
    border-bottom: 1px solid;
  }
}
