.navbar {
  background-color: #4944deb3;
  display: flex;
  align-items: center;
  height: 40px;
  font-size: 22px;
  justify-content: space-between;

  &__login {
    display: flex;
  }
  &__element {
    display: flex;
    margin-left: 30px;
    gap: 30px;

    &-link {
      text-decoration: none;
      color: white;
    }
    &-logout {
      border: none;
      font-size: 22px;
      background-color: transparent;
      color: white;
      margin: 0 30px;
      cursor: pointer;
    }
  }
}
