.reg {
  border: 1px solid rgba(0, 0, 0, 0.73);
  box-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.599);
  border-radius: 10px;
  width: 500px;
  display: flex;
  flex-direction: column;
  padding: 5px;
  background-color: #fff;
  margin-top: 30%;
  form {
    display: flex;
    flex-direction: column;
  }
  &__header {
    font-size: 24px;
    margin: 5px;
    text-align: center;
    &-error {
      color: red;
      font-size: 14px;
      margin-left: 5px;
    }
  }
  &__input {
    margin: 5px;
    border-radius: 5px;
    border: 1px solid rgba($color: #1d1c1c, $alpha: 0.2);
    font-size: 16px;
    text-align: center;
  }
  &__btn {
    font-size: 14px;
    margin: 0 auto;
    padding: 6px;
    border-radius: 5px;
    outline: none;
    border: none;
    background-color: #4a42e788;
  }
  &__text {
    text-align: center;
    text-decoration: none;
    color: black;
    margin: 5px;
  }
}
