.profile {
  background-color: white;
  width: 1100px;
  margin-top: 50px;
  border-radius: 10px;
  padding: 20px 10px;
  &__image {
    margin: 20px 0px;
    img {
      width: 250px;
      height: 250px;
      border-radius: 50%;
    }
  }
  &__name {
    font-size: 46px;
    font-weight: bold;
  }
  &__bar {
    display: flex;
    align-items: center;
    justify-content: left;
    button {
      margin: 10px;
      width: 200px;
      font-size: 14px;
      padding: 6px;
      border-radius: 5px;
      outline: none;
      border: none;
      background-color: #4a42e788;
    }
  }
}
