.profile {
  background-color: white;
  width: 1100px;
  margin-top: 50px;
  border-radius: 10px;
  padding: 20px 10px;
  &__image {
    margin: 20px 0px;
    position: relative;
    width: 250px;

    &:hover {
      .profile__image-upload {
        display: block;
      }
    }

    &-upload {
      width: 50%;
      position: absolute;
      margin: auto;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      filter: brightness(0) invert(1) opacity(80%);
      display: none;
    }

    &-avatar {
      width: 250px;
      height: 250px;
      border-radius: 50%;
    }
    &-online {
      height: 40px;
      width: 40px;
      background-color: #328b0c;
      border-radius: 50%;
      display: inline-block;
      position: absolute;
      top: 70%;
      left: 80%;
    }
  }
  &-online {
    background-color: green;
    width: 100px;
    height: 100px;
    font-size: 70px;
  }
  &__name {
    font-size: 46px;
    font-weight: bold;
  }
  &__reposts {
    border: 1px solid black;
    border-radius: 8px;
    margin: 10px;
    padding: 5px;
    &-text {
      font-size: 22px;
    }
  }
  &__bar {
    display: flex;
    align-items: center;
    justify-content: left;
    button {
      margin: 10px;
      width: 200px;
      font-size: 14px;
      padding: 6px;
      border-radius: 5px;
      outline: none;
      border: none;
      background-color: #4a42e788;
    }
  }
}
