* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #cad9f7;
}
.container {
  width: 1440px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
